.logo{
  width:60px;
}
.btn-info{
  background-color: #073340;
  border-color: #0e4656;
}
header[role=banner] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: 75px;
}

.btn {
  color: white !important;
}

.heading{
  font-family: Georgia, serif;
  font-size: 30px;
  letter-spacing: -0.4px;
  word-spacing: 1.6px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: capitalize;
  padding-left: 15px;
}
footer{
  background-color: rgba(106, 155, 135, 0.4);
  height: 6%;
  padding: 5px 5px 5px 5px;
}
.navbgcolor{
  background-color: #4169E1;
  height: 63PX
}

.nameheading
{
  font-family: Georgia, serif;
  font-size: 20px;
  letter-spacing: -0.4px;
  word-spacing: 1.6px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: capitalize;
  padding-left: 15px;
}

.bg-custom {
  background-color: deepskyblue;
}
