<div class="row studentHeader">
  <div class="col-sm-3">
    <h2>Student Activity</h2>
  </div>
  <div class="col-sm-2 text-right">
    Courses completed
  </div>
  <div class="col-sm-4 text-left">
    <div class="card">
      <div class="card-body">
        <progressbar class="progress progress-striped progress-animated" [max]="max" [value]="dynamic">
          <span style="color:white; white-space:nowrap;">{{dynamic}} / {{max}}</span>
        </progressbar>
      </div>
    </div>
  </div>
  <div class="col-sm-3 text-right">
    <a href="/profile">View Student Profile</a>
  </div>
</div>
