<div class="row">
  <div class="col-sm-2">
    <app-side-bar></app-side-bar>
  </div>
  <div class="col-sm-10">
    <app-student-header></app-student-header>
    <div class="row ml-4 mt-3">
      <div class="col-sm-4">
        <h3><u>Angular</u></h3>
      </div>
      <div class="col-sm-4">
        <h3><u>Ionic</u></h3>
      </div>
      <div class="col-sm-4">
        <h3><u>Node</u></h3>
      </div>
    </div>
    <div class="row ml-4 mt-3">
      <div class="col-sm-4">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/5wtnKulcquA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-sm-4">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/r2ga-iXS5i4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-sm-4">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/TlB_eWDSMt4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row ml-4 mt-3">
      <div class="col-sm-4">
        <h3><u>Hadoop</u></h3>
      </div>
      <div class="col-sm-4">
        <h3><u>Spark</u></h3>
      </div>
      <div class="col-sm-4">
        <h3><u>Big Data</u></h3>
      </div>
    </div>
    <div class="row ml-4">
      <div class="col-sm-4">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/mafw2-CVYnA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-sm-4">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/9mELEARcxJo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-sm-4">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/zez2Tv-bcXY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row ml-4 mt-3">
      <div class="col-sm-4">
        <h3><u>Amazon Web Services</u></h3>
      </div>
      <div class="col-sm-4">
        <h3><u>Google Cloud Platform</u></h3>
      </div>
      <div class="col-sm-4">
        <h3><u>Microsoft Azure</u></h3>
      </div>
    </div>
    <div class="row ml-4">
      <div class="col-sm-4">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/IT1X42D1KeA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-sm-4">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/_Q0tRI5hMnc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-sm-4">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/0bPJPiX89K0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row ml-4 mt-3">
      <div class="col-sm-4">
        <h3><u>Python</u></h3>
      </div>
      <div class="col-sm-4">
        <h3><u>Deep Learning</u></h3>
      </div>
    </div>
    <div class="row ml-4">
      <div class="col-sm-4">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/rfscVS0vtbw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-sm-4">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/dafuAz_CV7Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
