<div class="row">
  <div class="col-sm-2">
    <app-side-bar></app-side-bar>
  </div>
  <div class="col-sm-10">
      <app-student-header></app-student-header>
    <div class="row p-5">
      <div class="col-sm-6">
        <h3><u>My Class Schedule</u></h3>
      </div>
    </div>
    <div class="row p-5">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <strong>Add Course</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Course</label>
                  <select class="form-control" [(ngModel)]="selectedCourse">
                    <option >select</option>
                    <option value={{course.className}} *ngFor="let course of courses">{{course.className}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="term">Term</label>
                  <select class="form-control" [(ngModel)]="term" id="term">
                    <option>Fall 2019</option>
                    <option>Spring 2020</option>
                    <option>Fall 2020</option>
                  </select>
                </div>
              </div>
          </div>
            <div class="row">
              <div class="col-sm-12 float-right">
              <button type="submit" class="btn btn-danger float-right" (click)="addCourse()">Add</button>
              </div>
            </div>
        </div>
    </div><!--/.row-->
      </div>
    </div>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> My Courses
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Course Name</th>
              <th>Term</th>
              <th>Days/Times</th>
              <th>Instructor</th>
              <th>Room</th>
              <th>Credits</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rCourse of registeredCourse">
              <td>{{rCourse.className}}</td>
              <td>{{rCourse.term}}</td>
              <td>{{rCourse.days_Times}}</td>
              <td>{{rCourse.instructor}}</td>
              <td>{{rCourse.room}}</td>
              <td>{{rCourse.credit}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
