<div class="row">
  <div class="col-sm-2">
    <app-side-bar></app-side-bar>
  </div>
  <div class="col-sm-10">
    <app-student-header></app-student-header>
    <form #profileInformation = "ngForm" (ngSubmit)="onFormSubmit(profileInformation.value)">
      <div class="row mt-4 mr-3">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-success float-right">Save</button>
        </div>
      </div>
    <div class="row p-5">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <strong>Personal Info</strong>
            <!--<button type="submit" *ngIf="personalInfo" (click)="enablePersonalInfo()" class="btn btn-danger float-right">Edit</button>-->
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" name="firstName" class="form-control" id="firstName" [(ngModel)]="studentDetails.firstName">
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" name="lastName" class="form-control" id="lastName" [(ngModel)]="studentDetails.lastName">
            </div>
            <div class="form-group">
              <label for="emailAddress">Email ID</label>
              <input type="text" name="emailAddress" disabled class="form-control" id="emailAddress" [(ngModel)]="studentDetails.emailAddress">
            </div>
            <div class="form-group">
              <label for="secondaryEmail">Secondary Email ID</label>
              <input type="text" name="secondaryEmail" class="form-control" id="secondaryEmail" [(ngModel)]="studentDetails.secondaryEmailAddress">
            </div>
            <div class="form-group">
              <label for="studentID">Student ID</label>
              <input type="text" name="studentID" class="form-control" id="studentID" [(ngModel)]="studentDetails.studentID">
            </div>
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="primaryContact">Primary Contact Number</label>
                <input type="text"  name="primaryContact" class="form-control" id="primaryContact" placeholder="Enter Primary Contact Number" [(ngModel)]="studentDetails.primaryContactNumber">
              </div>
            <div class="form-group col-sm-6">
              <label for="secondaryContact">Secondary Contact Number</label>
              <input type="text"  name="secondaryContact" class="form-control" id="secondaryContact" placeholder="Enter Secondary Contact Number" [(ngModel)]="studentDetails.secondaryContactNumber">
            </div>
            </div><!--/.row-->
          </div>
        </div>
      </div><!--/.col-->
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <strong>Emergency Contact Info</strong>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="eName">Name</label>
              <input type="text" name="eName"  class="form-control" id="eName" placeholder="Enter Name" [(ngModel)]="studentDetails.emrName">
            </div>
            <div class="form-group">
              <label for="relation">Relation</label>
              <input type="text" name="relation"   class="form-control" id="relation" placeholder="Enter relation" [(ngModel)]="studentDetails.emrRelation">
            </div>
            <div class="form-group">
              <label for="eAddress">Address</label>
              <input type="text"  name="eAddress"  class="form-control" id="eAddress" placeholder="Enter Full Address" [(ngModel)]="studentDetails.emrAddress">
            </div>
            <div class="form-group">
              <label for="eContactNumber">Emergency Contact Number</label>
              <input type="text"  name="eContactNumber"  class="form-control" id="eContactNumber" placeholder="Enter Emergency Contact Number" [(ngModel)]="studentDetails.emrContactNumber">
            </div>
          </div>
        </div>
      </div><!--/.col-->
  </div>
    <div class="row pl-5">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <strong>Permanent Address</strong>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="street">Street</label>
              <input type="text" name="street"  class="form-control" id="street" placeholder="Enter street" [(ngModel)]="studentDetails.perStreet">
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" name="city"  class="form-control" id="city" placeholder="Enter City Name" [(ngModel)]="studentDetails.perCity">
            </div>
            <div class="form-group">
              <label for="state">State</label>
              <input type="text" name="state"  class="form-control" id="state" placeholder="Enter state name" [(ngModel)]="studentDetails.perState">
            </div>
            <div class="form-group">
              <label for="postal-code">Postal Code</label>
              <input type="text" name="postal_code" class="form-control" id="postal-code" placeholder="Enter postal code" [(ngModel)]="studentDetails.perPostalCode">
            </div>
          </div>
        </div><!--/.col-->
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <strong>Temporary Address</strong>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="tStreet">Street</label>
              <input type="text" name="tStreet" class="form-control" id="tStreet" placeholder="Enter street" [(ngModel)]="studentDetails.tempStreet">
            </div>
            <div class="form-group">
              <label for="tCity">City</label>
              <input type="text" name="tCity"  class="form-control" id="tCity" placeholder="Enter City Name" [(ngModel)]="studentDetails.tempCity">
            </div>
            <div class="form-group">
              <label for="tState">State</label>
              <input type="text" name="tState" class="form-control" id="tState" placeholder="Enter state name" [(ngModel)]="studentDetails.tempState">
            </div>
            <div class="form-group">
              <label for="tPostal-code">Postal Code</label>
              <input type="text" name="tPostal_code" class="form-control" id="tPostal-code" placeholder="Enter postal code" [(ngModel)]="studentDetails.tempPostalCode">
            </div>
          </div>
        </div><!--/.col-->
      </div>
    </div>
    </form>
</div>
</div>
