.heading {
    text-align: center;
}

.container {
    font-size: 20px;
}

.highlight {
    color: red;
}

body {
    background-color: linen;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width: 210px;
    height: 210px;
    text-align: center;
}
.grid-item {
    display: block;
    width:70px;
    height: 70px;
    margin: 10px;
}
.textCenter {
    align-content: center;
    width: 100%;
    display: block;
}
